<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8">
<title>user list</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5" >
	[[${user.username}]]</br>
	<form method="POST" th:action="@{/user/edit/{id}(id=${user.id})}" th:object="${user}">
		<table>
			<tbody>
				<tr>
					<td><span th:text="Username"></span></td>
					<td><input type="text" name="username" th:value="*{username}"/></td>
				</tr>
				<tr>
					<td>Roles:</td>
				</tr>
				<tr th:each="role : ${roles}">
					<td><input type="checkbox" th:value=${role} name="roles"/></td>
					<td>[[${role}]]</td>
				</tr>
			</tbody>
		</table>
		</br>
		<button type="submit"> Save</button>
	</form>
</div>
	<div th:insert="parts/bsheader::bsscripts"></div>
</body>
</html>