<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8">
<title>Messages</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5">
	
			<div class="form-group mt-3">
			<form method="POST" th:action="@{/messages/edit/{id}(id=${message.id})}" enctype="multipart/form-data">
				<div class="form-group">
				<input type="hidden" id="id" name="id" th:value="${message?.id}">
				<input type="text" name="text" id="text" placeHolder="Enter the message" th:class="${textError != null ? 'form-control is-invalid' : 'form-control'}" th:value="${message?.text}">
				     <div th:if="${textError != null}" class="invalid-feedback">
       						<span th:text="${textError}"></span>
      				 </div>
				</div>
				<div class="form-group">
					<input type="text" id="tag" name="tag" th:value="${message?.tag}" placeHolder="Enter the tag" th:class="${tagError != null ? 'form-control is-invalid' : 'form-control'}">
				</div>
				<div class="form-group">
				<div class="custom-file">
					<label class="custom-file-label" for="customFile">Choose File</label>
					<input type="file" name="file" id="customFile" th:value="${message?.filename}">
				</div>
				</div>
				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	
		<div class="card mt-3" style="width: 15rem;">
		<div  th:if="${message.filename}">
			<img class="card-img-top" th:src="@{/img/{filename}(filename=${message.filename})}"/>
		</div>
		<div class="m-2">
		<span>[[${message.text}]]</span>
		<i>[[${message.tag}]]</i>
		</div>
		<div th:if=${message} class="card-footer text-muted">
			<a th:href="@{/user/user-messages/{id}(id=${message.author.id})}">[[${message.author}]]</a>
		</div>
		<a th:href="@{/messages/delete/{id}(id=${message.id})}">delete</a>
		</div>

	
</div>
<div th:insert="parts/bsheader::bsscripts"></div>
</body>
</html>