<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8">
<title>Messages</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5">
	<form method="post" th:action="@{/logout}">
		<button type="submit">logout</button>
	</form>
	<span> <a th:href="@{/user}">admin panel</a></span>
	<span> <a th:href="@{/user/profile}">profile</a></span>

	<form method="POST" th:action="@{/messages}" enctype="multipart/form-data">
		<input type="text" name="text" placeHolder="Enter the message">
		<input type="text" name="tag" placeHolder="Enter the tag">
		<input type="file" name="file"/>
		
		<button type="submit">Добавить</button>
	
	</form>
	
	<div>Поиск по тегу</div>
	
	<form method="get" th:action="@{/messages}">
		<input type="text" name="filter" placeHolder="enter the tag" th:value="${filter}">
		
		<button type="submit">Поиск</button>
	</form>
	
	<div>Список сообщений</div>
	<div th:each="message : ${messages}">
		<span>[[${message.message}]]</span>
		<i>[[${message.tag}]]</i>
		<strong>[[${message.authorName}]]</strong>
		<div>
			<img th:src="@{/img/{filename}(filename=${message.filename})}"/>
		</div>
	</div>
</div>
<div th:insert="parts/bsheader::bsscripts"></div>
</body>
</html>