<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8">
<title>registration</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5">
<div>Profile page</div>
[[${message}]]
<form method="post" th:action="@{/user/profile}" th:object="${user}">
	<table>
		<tr>
			<td><label for="username">[[${username}]]</label></td>
		</tr>
		<tr>
			<td><label for="password">Password</label></td><td><input type="password" name="password" th:value="${password}"></td>
		</tr>
		<tr>
			<td><label for="mail">Email</label></td><td><input type="email" name="mail" th:value="${mail}"></td>
		</tr>
	</table>
	<button type="submit">save</button>
</form>
</div>
<div th:insert="parts/bsheader::bsscripts"></div>
</body>
</html>