<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8">
<title>registration</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5">
<div>Registration page</div>
[[${message}]]
<form method="post" th:action="@{/register}" th:object="${user}">
	<table>
		<tr>
			<td><label for="username">Username</label></td><td><input type="text" name="username" th:field="*{username}"></td>
		</tr>
		<tr>
			<td><label for="password">Password</label></td><td><input type="password" name="password" th:field="*{password}"></td>
		</tr>
		<tr>
			<td><label for="mail">Email</label></td><td><input type="email" name="mail" th:field="*{mail}"></td>
		</tr>
	</table>
	<button type="submit">register</button>
</form>
</div>
<div th:insert="parts/bsheader::bsscripts"></div>
</body>
</html>