<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8"/>
<title>registration</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5">
<h2 align="center">Registration Page</h2>
[[${message}]]
<br/><br/>
<form method="post" th:action="@{/register}" th:object="${user}">
	<div class="form-group row">
		<label for="username" class="col-sm-2 col-form-label">Username</label>
		 <div class="col-sm-5">
			<input type="text"
					 name="username" 
					 th:class="${usernameError != null ? 'form-control is-invalid' : 'form-control'}"
					  th:value="${user?.username}"
					  placeholder="type username"/>
				     <div th:if="${usernameError != null}" class="invalid-feedback">
       						<span th:text="${usernameError}"></span>
      				 </div>
		</div>
	</div>
	<div class="form-group row">
	<label for="password" class="col-sm-2 col-form-label">Password</label>
	 <div class="col-sm-5">
		<input type="password"
				 name="password" 
				 th:class="${passwordError != null ? 'form-control is-invalid' : 'form-control'}"
				 placeholder="type password"/>
					 <div th:if="${passwordError != null}" class="invalid-feedback">
       						<span th:text="${passwordError}"></span>
      				 </div>
	</div>
	</div>
	
	<div class="form-group row">
	<label for="password2" class="col-sm-2 col-form-label">Confirm Password</label>
	 <div class="col-sm-5">
		<input type="password"
				 name="password2"
				  th:class="${password2Error != null ? 'form-control is-invalid' : 'form-control'}"
				  placeholder="retype password"/>
					 <div th:if="${password2Error != null}" class="invalid-feedback">
       						<span th:text="${password2Error}"></span>
      				 </div>
	</div>
	</div>
	
	<div class="form-group row">
	<label for="mail" class="col-sm-2 col-form-label">Email</label>
	<div class="col-sm-5">
		<input type="email"
				 name="mail"
				  th:class="${mailError != null ? 'form-control is-invalid' : 'form-control'}" 
				  th:value="${user?.mail}"
				  placeholder="type email"/>
				     <div th:if="${mailError != null}" class="invalid-feedback">
       						<span th:text="${mailError}"></span>
      				 </div>
	</div>
	</div>
	
	<div class="col-sm-3">
	 <div class="g-recaptcha" data-sitekey="6Lc31OUUAAAAAD7ZWOsxeFvahNsUKDvsN06LmXN3"></div>
			 <div th:if="${recaptchaError}" class="alert alert-danger" role="alert">
				  <span th:text="${recaptchaError}"></span>
			</div>
	</div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>
</div>
<div th:insert="parts/bsheader::bsscripts"></div>
</body>
</html>