<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head th:insert="parts/bsheader::header">
<meta charset="UTF-8">
<title>Messages</title>
</head>
<body>
<div th:insert="parts/bsheader::bsnavbar"></div>
<div class="container mt-5">
	<h3>[[${user.username}]]</h3>
	
	<div class="card-columns">
		<div th:if="${users}" th:each="usr : ${users}">
			<div class="card mt-3" style="width: 15rem;">
				<div class="m-2">
					<a th:href="@{/user/user-messages/{id}(id=${usr.id})}">[[${usr.username}]]</a>
				</div>
			</div>
		</div>
	</div>
	
</div>
</body>
</html>